.notfound-page {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url('../../assets/png/lock.png') no-repeat center top / cover scroll;
}
