@import '../../variables.scss';

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(230, 230, 230, 0.6);
  border-radius: $border-radius;
  padding: 1rem;
  gap: 2rem;
  width: 290px;
}

.form > * {
  width: 100%;
}

.form__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;

  &:last-child {
    flex-direction: row;

    & > * {
      @extend %button-default;
      @extend %button-invert-color;
    }
  }
}

.form__group label {
  font-size: 1.5em;
  font-family: $heading-font-family;
  font-weight: 700;
  margin: 1rem;
  @media (min-width: $maximum-width) {
    font-size: 2em;
  }
}

.form-input-text {
  border: none;
  color: black;
  padding: 0.5rem;
  text-align: center;
  font-size: 1rem;
  width: 100%;
  border-radius: 0.4rem;
}

.form__error {
  text-align: center;
}
