@import '../../variables.scss';

.header {
  background-color: $main-bg-color;
  padding: $main-padding;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
  color: $white-color;
  position: sticky;
  top: 0;
  z-index: 9999;

  a,
  button {
    white-space: nowrap;
  }

  @media (min-width: $min-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $maximum-width) {
    flex-wrap: nowrap;
  }
}

.header-sticky {
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 14px;

  .header-new-board {
    break-after: auto;
  }
  .header-edit,
  .header-logout,
  .header-new-board,
  .header-signup,
  .header-signin,
  .header-go-main {
    font-size: 14px;
  }
}

.header-new-board {
  background-color: $red-color;
  color: $white-color;
  break-after: always;

  @media (min-width: $medium-width) {
    break-after: auto;
  }
}

.header-edit,
.header-logout,
.header-new-board,
.header-signin,
.header-signup,
.header-logout + .header-go-main {
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  @extend %button-default;
  @extend %button-color;
  transition: 0.3s;
  flex-grow: 1;

  &:hover {
    @extend %button-hover;
  }

  @media (min-width: $maximum-width) {
    flex-grow: 0;
  }
}

.header-signup,
.header-signin,
.header-go-main {
  flex-grow: 0;
}

.header-signin,
.header-go-main {
  margin-left: auto;
}

.header-signin {
  margin-left: unset;
  @media (min-width: $min-width) {
    margin-left: auto;
  }
}

.header-logout + .header-go-main {
  background-color: $red-color;
  color: $white-color;
  margin-left: unset;
}

.header-edit {
  @media (min-width: $medium-width) {
    margin-left: auto;
  }
}
