@import '../../variables.scss';

.header {
  background-color: $main-bg-color;
  padding: $main-padding;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  column-gap: 1rem;
  color: $white-color;
  position: sticky;
  top: 0;

  @media (min-width: $min-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media (min-width: $maximum-width) {
    flex-wrap: nowrap;
  }

  button,
  input,
  label,
  a {
    transition: 0.3s;
  }

  &.header-sticky {
    flex-direction: row;
    flex-wrap: wrap;

    & > * {
      flex-grow: 1;
      @media (min-width: $maximum-width) {
        flex-grow: 0;
      }
    }

    button,
    input,
    label,
    a {
      font-size: 14px;
      transition: 0.3s;
    }

    .header-new-board {
      break-after: auto;
    }

    .language-panel {
      flex-grow: 0;

      @media (min-width: $medium-width) {
        break-after: auto;
      }
    }

    .language-eng::after {
      font-size: 14px;
    }
  }

  & > * {
    box-sizing: border-box;

    @media (min-width: $min-width) {
      flex-grow: 1;
    }

    @media (min-width: $maximum-width) {
      flex-grow: 0;
    }
  }

  button,
  a {
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    @extend %button-default;
    @extend %button-color;
  }

  button:hover,
  a:hover {
    @extend %button-hover;
  }

  .header-new-board {
    background-color: $red-color;
    color: $white-color;
    break-after: always;

    @media (min-width: $medium-width) {
      break-after: auto;
    }
  }
}

.header-edit {
  @media (min-width: $medium-width) {
    margin-left: auto;
  }
}
