$heading-font-family: 'Fjalla One', sans-serif;
$main-font-family: 'Roboto', sans-serif;
$main-font-size: 16px;
$main-font-weight: 300;




$white-color: #FFFFFF;
$black-color: #000000;

$gray-color: #E5E5E5;
$darkgray-color: #434b57;
$violet-color: #7953f5;
$red-color: #ED4A44;
$yellow-color: #FCA311;
$green-color: #3b8f43;


$main-bg-color: $violet-color;
$emphasis-color: $yellow-color;



$border-width: 2px;
$border: $border-width solid $emphasis-color;
$border-transparent: $border-width solid transparent;
$border-radius: .4rem;
$border-transition: border 1s;


$main-padding: 1rem;
$half-padding: $main-padding*0.5;
$double-padding: $main-padding*2;

$min-width: 420px;
$medium-width: 768px;
$maximum-width: 1200px;

%anchor-default {
  color: $white-color;
  text-decoration: none;
  border: $border-transparent;
  transition: $border-transition;
  padding: $half-padding;
  
}

%anchor-hover {
  border-top: $border;
  transition: $border-transition;
}

%button-default {
  cursor: pointer;
  border: none;
  padding: $half-padding $main-padding;
  font-size: 1rem;
  transition: $border-transition;
  border: $border-transparent;
}

%button-color {
  background-color: $white-color;
  color: $main-bg-color;
}

%button-invert-color {
  background-color: $main-bg-color;
  color: $white-color;
}

%button-hover {
  transition: $border-transition;
  border-top: $border;
  
  
}




