@import '../../variables.scss';

.hide-elem {
  display: none !important;
}

.page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999999;
  background-color: rgba(230, 230, 230, 0.3);
}

.error-msg {
  background-color: $red-color;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: absolute;
  top: 20%;
  right: 1rem;
  z-index: 99999999999;
  gap: 1rem;
  font-size: 1.2rem;
}
