@import '../../variables.scss';

.language-panel {
  display: flex;
  flex-grow: 0;
  justify-content: right;
  box-sizing: border-box;

  @media (min-width: $medium-width) {
    break-after: always;
  }

  @media (min-width: $maximum-width) {
    break-after: auto;
  }

  input {
    display: none;
  }

  label {
    width: 4rem;
    cursor: pointer;
    padding: $half-padding $main-padding;
    background-color: $white-color;
    color: $main-bg-color;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: visible;
    font-weight: 400;
    min-height: 37px;
    transition: $transition;
  }

  .language-eng::after {
    content: 'Ru';
    box-sizing: border-box;
    width: 4rem;
    padding: $half-padding $main-padding;
    position: absolute;
    top: 0;
    left: 4rem;
    background-color: $red-color;
    color: white;
    transition: $transition;
    z-index: 1;
    min-height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: $min-width) {
      border: 3px solid transparent;
    }
  }

  input:checked + .language-eng::after {
    content: 'En';
    left: 0;
  }
}

.header-signup + .language-panel {
  order: -1;
  break-after: auto;
}

.header-sticky {
  .language-panel {
    flex-grow: 0;
    @media (min-width: $medium-width) {
      break-after: auto;
    }
  }
}
